loading  csv data

In [1]:
import pandas as pd

file = 'mock_data.csv'

dataframe  =pd.read_csv(file)

dataframe.head(2)

   ID    Name  Age Country      Score          Signup_Date
0   1  User_1   26   India  78.861180  2020-01-01 00:00:00
1   2  User_2   30   India  77.311339  2020-01-01 01:00:00

loading json data

In [14]:
import pandas as pd

file = 'mock_data.json'

dataframe  =pd.read_json(file,orient='columns')

dataframe["Name"].replace("User_9",'david')



dataframe['Country'].value_counts()

Country
Canada     184
India      176
USA        167
UK         165
Germany    162
Kenya      146
Name: count, dtype: int64

In [ ]:
import pandas as pd

file = 'mocks.csv'

dataframe  =pd.read_csv(file)

dataframe[dataframe['Name'].isnull()].head(4)

    ID     Name   Age Country  Score          Signup_Date
17  18  User_18  26.0     NaN  61.17  2020-01-01 17:00:00
25  26  User_26  18.0     NaN  73.56  2020-01-02 01:00:00
38  39  User_39  23.0     NaN  75.50  2020-01-02 14:00:00
43  44  User_44  43.0     NaN  50.48  2020-01-02 19:00:00